
/*============= layout section==============   */
body{
background-color: #0B0C10;
margin: 0px;
font-family: verdana, georgia, helvetica;
font-size: 14px;
}
#header{
background-color: #1F2833;
margin: 20px;
height: 90px;
border-radius: 5px;
}


.music_btn {
    display: inline;
    background: #45A29E;
    color: #0B0C10;
    padding: 5px;
    margin-left: 0px;
    margin-top:  0.2em;
    margin-right: 0px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
    

  }

  
#navbar ul {

padding: 5px;
list-style-type: none;
text-align: center;
background-color: #1F2833;
margin: 10px;
border-radius: 5px;
}

#navbar ul li{
display: inline;
cursor: pointer;
}

#navbar ul li a {
text-decoration: none;
font-family: Arial;
padding: 2em 1em;
color: #C5C6C7;
background color: lightblue;
font-weight: bold; 
}

#navbar ul li a:hover {
color: #C5C6C7;
background-color: #45A29E; 
}


.main{
background-color: #1F2833 ;
margin-left: 10px;
margin-right: 380px;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 5px;
padding: 20px;
font-size: 115%;
color: #C5C6C7;

}

.sideright{
background-color: #1F2833;
margin-left: 10px;
margin-right: 10px;
margin-top: 0px;
margin-bottom: 10px;
border-radius: 5px;
padding: 10px;
width: 340px;
float: right;
font-size: 105%;
clear: right;
color: #C5C6C7;
}
.imagesidebar{
background-color: #1F2833;
margin-left: 10px;
margin-right: 10px;
margin-top: 0px;
margin-bottom: 10px;
border-radius: 5px;
padding: 10px;
width: 340px;
float: right;
font-size: 105%;
clear: right;
}

.images{
border-radius: 5px;
padding: 10px;
max-width: 160px;

}

.container{
background-color: #1F2833 ;
margin-left: 10px;
margin-right: 380px;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 5px;
padding: 20px;
font-size: 110%;
display: flex;
}


.sidecontainer{
background-color: #1F2833;
margin-left: 10px;
margin-right: 10px;
margin-top: 0px;
margin-bottom: 10px;
border-radius: 5px;
padding: 10px;
width: 340px;
float: right;
font-size: 105%;
clear: right;
display: block;
}





.img-col{
flex-basic: 40%;
}




#footer {
background-color: #1F2833;
margin: 10px;
height: 50px;
clear: both;

}





/*   heading section */
h1{
font-size: 125%;
color: #45A29E;
text-decoration: underline;
font-style: oblique;
font-weight: bold;


}
h2{
font-size: 125%;
color: #45A29E;
text-decoration: underline;
font-style: oblique;
font-weight: bold;

}
h3{
font-size: 250%;
color: #66FCF1;
text-align: center;
font-family: "Comic Sans MS", "Gill Sans";
text-shadow: 3px 3px 20px #C5C6C7;

}
h4{
font-size: 150%;
color: #C5C6C7;
text-align: justify;
font-family: "Monotype Corsovia", "Gill Sans";
text-shadow: 0.25px 0.25px  #66FCF1;
font-style: oblique;
}
